import requests
import base64
import email
import csv
from csv import writer

output_lines = []
#Open\Read\Writer The Csv File
with open("exampleCsv.csv", "r") as reader_csv_file:
  for i, line in enumerate(reader_csv_file.readlines()):
    if i == 0:
      output_lines.append(line)
      continue
    line_as_list = line.split(",")
    if len(line_as_list) >= 21:
      if not line_as_list[19] or not line_as_list[20]:
        mail_resource = line_as_list[10]
        headers = {
      "authorization" : "Bearer       eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpZCI6Ijg3OTZhYzJkLWM2MWQtNDgxMi1hYWMxLTc0ZTAyOTc0NWI5ZmUxZTBiMDE5LTNhZjMtNDZjYy1iNjdlLWM4NTBkMWExZTIzMSIsInR5cGUiOjAsInVzZXJfaWQiOjUxNDF9.a3QUN4lZEAbFxS9Xj1MyAN9T5JYwxh-ykKcqErIGs_k"
}
        url = f"https://review.6.lighthouse.bitdamlab.com/api/v1.0/outlook/download_resource_wrapper?mail_resource={mail_resource}"
     
        res = requests.get(url, headers=headers)
        res2 = res.json()
        email_bits = base64.b64decode(res2["file_base64"])
        email_object = email.message_from_bytes(email_bits)
        line_as_list[19] = email_object["to"]
        line_as_list[20] = email_object["from"]
        output_lines.append(",".join(line_as_list))

with open("output.csv", "w") as adding_missing_values:
  for line in output_lines:
    adding_missing_values.write(line)
    
    

